// style.scss

footer {
  color: #fff;
  background-color: #333;

  .container {
    padding: 50px 0;
  }

  .content {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    padding: 40px 0px;

    p {
      font-size: 1rem;
      text-align: center;
      font-weight: 300;
      margin: 10px 0;
      color: rgb(46, 35, 70);
    }
    @media screen and (max-width: 1420px) {
      padding: 0px 40px;
    }

    @media screen and (max-width: 1200px) {
      padding: 0px 40px;

      p {
        font-size: 1.5rem;
      }
    }

    @media screen and (max-width: 768px) {
      padding: 0px 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  .site-info {
    .dev-link {
      display: block;
      margin-top: 5px;
    }
  }

  .single-col {
    text-align: left;
    max-width: 280px;

    @media (max-width: 768px) {
      text-align: center;
    }

    .title {
      font-size: 1.2rem;
      margin-bottom: 10px;
      color: #fff;
    }

    .text {
      font-size: 0.9rem;
      color: #ccc;
      line-height: 1.4;
      text-align: left;

      a {
        color: white;
        font-weight: 500;
      }

      @media (max-width: 768px) {
        margin-bottom: 20px;
        text-align: center;
      }
    }

    .links {
      list-style: none;
      font-size: 0.9rem;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 5px;
        a {
          text-decoration: none;
          color: #ccc;
          transition: color 0.3s ease;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}

// Dodatkowe style dla elementu "footer" lub "body" w zależności od potrzeb.
// Możesz dostosować tło, marginesy lub inne właściwości.

@media (max-width: 768px) {
  footer {
    grid-template-columns: 1fr;
  }
}
