.homepage-cta-block {
  .container {
    .cta-area {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0px auto 30px auto;
      height: auto;
      width: 100%;

      @media screen and (min-width: 1420px) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
      }
      @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
      }
      @media (max-width: 767px) {
        flex-direction: column;
      }
    }
  }
}
