.slogan {
  text-shadow: 4px 4px 6px rgb(66, 68, 90);
  position: absolute;

  @media (max-width: 1023px) {
    left: 0;
    padding: 0 30px;
  }

  blockquote {
    font-size: 25px;
    line-height: 35px;
    display: block;
    max-width: 65%;
    font-weight: 600;
    text-align: left;
    color: white;
    margin: 0;

    cite {
      font-size: 20px;
      margin-top: 20px;
      display: block;
      text-align: left;
      font-weight: 500;

      @media (max-width: 1023px) {
        text-align: center;
      }
    }

    @media (max-width: 1023px) {
      max-width: 100%;
      text-align: center;
    }
  }
}
