// styles.scss
$wrapper-background: #fff;

.header-wrapper {
  background: $wrapper-background;
  height: 120px;
  width: 100%;
  z-index: 1000;

  .container {
    height: 100%;
    flex-direction: row;
    justify-content: space-between;

    img {
      width: 250px;
      margin: 0;

      @media only screen and (max-width: 480px) {
        width: 180px;
      }
    }
  }
}
