.custom-text-block {
  background: rgb(245, 247, 255);
  text-align: center;
  padding: 70px 0px;
  color: #fff;

  @media (max-width: 1023px) {
    padding: 0px;
  }

  .container {
    margin: 0 auto;
    padding: 0 20px !important;

    .inner {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header {
        text-align: left;
        color: black;
        margin: 0;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: calc(50% - 40px);
          right: -40px;
          width: 4px;
          height: 80px;
          background: #0f1941;

          @media (max-width: 1023px) {
            width: 0;
            height: 0;
          }
        }
      }

      .text {
        padding-left: 80px;
        font-size: 1.1em;
        line-height: 1.4em;
        text-align: justify;
        font-weight: 300;
        margin: 10px 0;
        color: rgb(46, 35, 70);

        @media (max-width: 1023px) {
          padding: 0 30px;
        }
        @media (max-width: 768px) {
          padding: 10px;
        }
      }

      @media (max-width: 1023px) {
        padding: 40px 0;
        flex-direction: column;

        p {
          font-size: 1.3rem;
        }
      }
    }
  }
}
